<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to Alpha Articles</h1>
    <p class="col-md-8 fs-4">The most trustful source in the industry</p>
    <!-- <button type="button" class="btn btn-success fw-bolder">Sign up</button> -->
    <%= link_to "Sign up", signup_path,class: "btn btn-success fw-bolder" %>
  </div>
</div>

<%= button_to "Article listing", articles_path, method: :get %> 
<%= button_to "About", about_path, method: :get %> 